.MainPage-MainContainer {
    width: 100vw;
    height: 100vh;
    background: rgba(78, 45, 211, 0.46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main-Page-Cokkies {
    position: sticky ; 
    top : 70vh;
    left : 35vw ;
    width: 30vw;
    height: 10vh;
    background: rgba(54, 46, 147, 0.75);
}